extends /layout

block content
  
  script(type="text/javascript" src="/javascripts/password.js")
  
  form(action="password" method="post")
    h1 Passwort ändern
    div.holder
      label(for="password") Neues Passwort
      input(type="password" name="password" id="password")
    div.holder
      label(for="confirm-password") Neues Passwort wiederholen
      input(type="password" id="confirm-password")
    div.holder
      input(type="submit" value="Bestätigen")
    +errors(errors)
