extends /layout

block content
  
  script(type="text/javascript" src="/javascripts/password.js")
  
  form(action="signup" method="post")
    h1 Registrieren
    div.holder
      label(for="username") Benutzername
      input(type="text" name="username" id="username")
    div.holder
      label(for="password") Passwort
      input(type="password" name="password" id="password")
    div.holder
      label(for="confirm-password") Passwort wiederholen
      input(type="password" id="confirm-password")
    div.holder
      input(type="submit" value="Bestätigen")
    +errors(errors)
