html{
  background-color: #000000;
}

body{
  margin: 0px;
  overflow-x: hidden;
  overflow-y: scroll;
}

main{
  position: relative;
}

article{
  position: absolute;
  box-sizing: border-box;
  padding: 32px;
}

h1, h2{
  font-family: sans-serif;
}
